<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginStyle.css">
    <title>Login Form</title>
</head>

<body>
    <div id="center">
        <div id="innerCenter">
            <section class="input"><span id="barricieto">Family Money Tracker</span></section>
            <section class="input"><span id="barricieto">Login Form</span></section>
            <form action="http://127.0.0.1:3000/login" method="post">
                <section class="input">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" placeholder="User Name" required><br>
                </section>
                <section class="input">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter password" required><br>
                </section>

                <section class="input" id="button">
                    <span><button>Log In</button></span>
                </section>
            </form>
            <section class="input">
                <a href="signup.html">New on the platform?Try Signing Up!</a>
            </section>
        </div>
    </div>
</body>

</html>