<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signupStyle.css">
    <title>SignUp Form</title>

</head>

<body>
    <div id="center">
        <div id="innerCenter">
            <section class="input"><span id="barricieto">Family Money Tracker</span></section>
            <section class="input"><span id="barricieto">SignUp Form</span></section>
            <form action="http://127.0.0.1:3000/login">
                <section class="input">
                    <label for="firstname">First Name:</label>
                    <input type="text" id="firstname" name="firstname" placeholder="FirstName" required><br>
                </section>
                <section class="input">
                    <label for="lastname">Last Name:</label>
                    <input type="text" id="lastname" name="lastname" placeholder="LastName" required><br>
                </section>
                <section class="input">
                    <label for="username">User Name:</label>
                    <input type="text" id="username" name="username" placeholder="UserName" required><br>
                </section>

                <section class="input">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Password" required><br>
                </section>
                <section class="input">
                    <label for="key">Unique Key:</label>
                    <input type="text" id="key" name="key" placeholder="Enter key (if available)"><br>
                </section>

                <section class="input" id="button">
                    <span><button>Sign Up</button></span>
                </section>

            </form>
            <section class="input">
                <a href="">Forgot Password?</a>
            </section>
        </div>
    </div>
</body>

</html>